.njm-relative {
  position: relative !important;
}
.njm-absolute {
  position: absolute !important;
}
.njm-hidden {
  display: none;
}
.njm-hideScrollbar {
  overflow: hidden !important;
}

.njm-focus-catch {
  outline: none;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  opacity: 0;
  position: absolute;
}

.njm-overlay {
  width: 100%;
  height: 100%;
  position: fixed;top: 0;right: 0;bottom: 0;left: 0;
  background-color: #000;

  backface-visibility: hidden;

  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  
  transition: opacity 200ms;
}
.njm-overlay.njm-visible {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.njm-wrap {
  outline: none;
  width: 100%;
  height: 100%;
  position: fixed;top: 0;right: 0;bottom: 0;left: 0;/*top/right/top/left for chrome*/
  overflow: hidden;
}
.njm-items {
  outline: none;
  width: 100%;
  height: 100%;
  position: absolute;top: 0;right: 0;bottom: 0;left: 0;/*top/right/top/left for chrome*/
  overflow: hidden;
}
.njm-outer {
  width: 100%;
  height: 100%;
  position: absolute;top: 0;left: 0;
  overflow: auto;
  text-align: center;
  white-space: nowrap;

  transition: left 350ms, transform 350ms;
  
  /*for ie <=7 */
  *padding-top:50px;

  user-select: none;
  box-sizing: border-box;
}
.njm-outer:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.njm {
  max-width: 100%;
  outline: none !important;
  display: inline-block;
  position: relative;
  text-align: left;
  text-align: initial;
  vertical-align: middle;

  white-space: normal;

  user-select: text;
}
.njm img {
  width: auto;
  width:auto\9;
  height:auto;
  max-width: 100%;

  vertical-align: middle;/*remove space under the picture*/

  box-sizing: border-box;
}

.njm-close-system {
  border: none;
  background: none;
  appearance: none;
  
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: absolute;right: 20px;top: 20px;
  display: inline-block;
  cursor: pointer;
  padding: 0;

  text-decoration: none;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 5px #000;
  overflow: hidden;

  transition: 200ms;
}
.njm-close-system:active {
  transform: scale(0.8) !important;
}

.njm-autoheight .njm-outer {
	overflow-y: hidden;
}
.njm-autoheight--true .njm__body {
	overflow-y: auto;
}




/*animations*/
.njm-animation {
  overflow-x: hidden;
}
.njm-anim-reverse {
  animation-direction: reverse !important;
}


.fade, .fadeIn {

  animation: fade 250ms ease-in-out forwards;
}
.fadeOut {

  animation: fade 200ms ease-in-out reverse forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.scale, .scaleIn {

  animation: scale 250ms ease-in-out forwards;
}
.scaleOut {

  animation: scale 200ms ease-in-out reverse forwards;
}
@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}



/*pulse animation uses in modal windows, when user try to close modal with outside click*/
.njm_pulse {
  animation: pulseModal 200ms ease-in-out 1;
}
/*perspective fixes troubles with font in webkit*/
@keyframes pulseModal {
  0% {
    -webkit-transform: scale(1) perspective(1px);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1) perspective(1px);

  }
  40% {
    -webkit-transform: scale(1.05) perspective(1px);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05) perspective(1px);
  }
  60% {
    -webkit-transform: scale(1.05) perspective(1px);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05) perspective(1px);
  }
  100% {
    -webkit-transform: scale(1) perspective(1px);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1) perspective(1px);
  }
}


/*theme*/
.njm-close-system {
  animation: closeSystemOut 250ms;
  animation-fill-mode: forwards;
}
.njm-visible .njm-close-system {
  animation: closeSystemIn 250ms;
}
.njm .njm-close-system {
  top: -20px;
  right: -20px;
  animation:none;
}

@keyframes closeSystemIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes closeSystemOut {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

/*here we use nested selector .njm-content .njm because we also can have .njm-image .njm with image, and for this case we need other design  */
.njm {
  border-radius: 2px;
  background-color: #fff;
  margin: 10px;
}
.njm .njm__header {
  padding: 5px;
}
.njm .njm__body {
  padding: 5px;
}
.njm .njm__footer {
  padding: 5px;
}
.njm--image img {
  background-color: rgba(255,255,255,.1);
}