<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--<meta name="theme-color" content="#0094e2"> -->
  <meta name="description" content="">

  <link rel="stylesheet" href="njBox.css">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  
  <style>
    .lorem {
      height: 2000px;
    }
    #modal, #modal2 {
      max-width: 500px;
      display: none;
    }
    .test4 {
      /*display: none;*/
    }
    .popover1 {
      color:red;
    }
  </style>
  <title>njBox</title>
</head>

<body>
  
  <!--<div class="gallery" data-njb-gallery="a" data-njb-autofocus="false" data-toggle="modal" data-njb-layout="popover">
    <a href="#modal2">modal1</a>
    <a href="https://media4.s-nbcnews.com/j/newscms/2016_36/1685951/ss-160826-twip-05_8cf6d4cb83758449fd400c7c3d71aa1f.nbcnews-ux-2880-1000.jpg" class="link" data-njb-options='{"content": "test2"}' data-njb-title="title 2">link</a>
    <a href="#modal2">modal2</a>
    <a href="https://media4.s-nbcnews.com/j/newscms/2016_36/1685951/ss-160826-twip-05_8cf6d4cb83758449fd400c7c3d71aa1f.nbcnews-ux-2880-1000.jpg" data-njb-title="title 3">link</a>
    <a href="http://www.worldofowls.com/wp-content/uploads/2014/09/gallery-owls-1.jpg">link</a>
    <a href="https://s-media-cache-ak0.pinimg.com/736x/66/a5/eb/66a5ebd96a859c119ce18260dd7a8ba5.jpg">link</a>
    <a href="https://s-media-cache-ak0.pinimg.com/originals/49/04/b4/4904b4609076eed933073ad4254d15bc.jpg">link</a>
  </div>-->
  <div class="test4">
    <div>Lorem ipsum dolor sit amet, consectetur  adipisicing elit. Dolor veniam rem tempore iure totam voluptate alias autem sapiente quod non earum eos sed natus maiores nulla laboriosam, consequuntur inventore perferendis.</div>
    <div>Et quae harum voluptatum sit recusandae ut dolorum dolorem sint, distinctio eum mollitia corporis aut. Odit voluptatum quis, deserunt soluta, commodi unde corporis dolores voluptate ducimus. Modi, iusto harum corporis.</div>
    <div>Eaque veritatis fugiat quasi rerum laborum atque dolores repellat, nostrum nihil architecto doloremque recusandae quis, earum, qui culpa hic! Tempore doloremque quia consequuntur sunt voluptatem illum enim nobis pariatur animi.</div>
    <div>Odit quaerat optio libero ipsum ea alias quas suscipit asperiores minima vero corporis numquam iste, magnam maxime officia praesentium consequuntur iusto. Dicta eum fuga officia quasi eligendi, iusto, adipisci ad.</div>
    <div>Vel dolore, tenetur at sapiente. Illum accusamus odio maiores optio quae obcaecati ipsum doloribus voluptatibus repellat id voluptates alias quasi unde, velit ex aut neque. Ducimus dicta, earum voluptate sint.</div>
    <div>Ipsam quo aspernatur magni, deleniti odio incidunt, aliquam mollitia ducimus nisi, ex eveniet possimus cupiditate eum quaerat nemo dolorem. Ipsam sit error perferendis, velit iusto id reprehenderit temporibus aspernatur quibusdam?</div>
    <div>Voluptas, sed ipsam blanditiis officiis fugit rerum repellat aliquid non sit   sunt soluta, id dolore cum odio atque libero doloremque! Pariatur non voluptatibus eligendi, impedit perspiciatis similique laboriosam! Id, facere.</div>
    <div>Quod commodi rem reiciendis consequuntur soluta corrupti facilis molestiae beatae expedita quis doloribus culpa officia incidunt nihil saepe laborum cupiditate voluptatum molestias, obcaecati! Natus, consectetur. Culpa dolorem saepe reprehenderit reiciendis.</div>
    <div>Ab ullam quam soluta, commodi amet vero, hic error debitis reprehenderit illo distinctio quaerat voluptatibus tenetur quia aliquam, pariatur quod. Iusto harum, repellendus cupiditate voluptate, quam nisi commodi aut voluptas.</div>
    <div>Deleniti quisquam quod accusamus debitis dolore nostrum harum, exercitationem numquam voluptas qui quos architecto in odit error aliquid ad, dolor natus nulla. Aliquam architecto dolorum ducimus laborum quasi hic accusamus.</div>
    <div>Molestias explicabo inventore placeat iure omnis magni minus ipsa sit, quia, neque sapiente distinctio ex ut atque. Minus deserunt iste quas animi tempora! Praesentium, ab! Cumque adipisci qui aliquam ea?</div>
    <div>Neque illum nesciunt, ullam inventore totam molestiae beatae nobis quae non ab quo perspiciatis recusandae molestias dolorum, officiis natus dicta aperiam adipisci consequatur fugiat eos. Reiciendis aperiam distinctio repellendus et.</div>
    <div>Voluptatum perspiciatis quos amet quaerat alias, accusantium obcaecati esse delectus consequuntur labore autem, et! Nihil earum perferendis sequi facilis temporibus ut laboriosam, vel at omnis nesciunt animi quasi voluptatibus. A.</div>
    <div>Ad quam nam itaque, fugiat ratione! Voluptate, qui animi. Est iusto quod consequuntur itaque, corporis suscipit. Doloremque amet, aliquid, ullam cum, illum consequatur aliquam laboriosam enim voluptate at veritatis similique.</div>
    <div>Nam vero in eaque adipisci quam, ad ipsam error expedita excepturi commodi molestias  fugiat! Aperiam recusandae expedita culpa iusto asperiores debitis, beatae, ratione quaerat. Perferendis velit doloribus asperiores illum, vero.</div>
    <div>Lorem ipsum dolor sit amet, consectetur  adipisicing elit. Dolor veniam rem tempore iure totam voluptate alias autem sapiente quod non earum eos sed natus maiores nulla laboriosam, consequuntur inventore perferendis.</div>
    <div>Et quae harum voluptatum sit recusandae ut dolorum dolorem sint, distinctio eum mollitia corporis aut. Odit voluptatum quis, deserunt soluta, commodi unde corporis dolores voluptate ducimus. Modi, iusto harum corporis.</div>
    <div>Eaque veritatis fugiat quasi rerum laborum atque dolores repellat, nostrum nihil architecto doloremque recusandae quis, earum, qui culpa hic! Tempore doloremque quia consequuntur sunt voluptatem illum enim nobis pariatur animi.</div>
    <div>Odit quaerat optio libero ipsum ea alias quas suscipit asperiores minima vero corporis numquam iste, magnam maxime officia praesentium consequuntur iusto. Dicta eum fuga officia quasi eligendi, iusto, adipisci ad.</div>
    <div>Vel dolore, tenetur at sapiente. Illum accusamus odio maiores optio quae obcaecati ipsum doloribus voluptatibus repellat id voluptates alias quasi unde, velit ex aut neque. Ducimus dicta, earum voluptate sint.</div>
    <div>Ipsam quo aspernatur magni, deleniti odio incidunt, aliquam mollitia ducimus nisi, ex eveniet possimus cupiditate eum quaerat nemo dolorem. Ipsam sit error perferendis, velit iusto id reprehenderit temporibus aspernatur quibusdam?</div>
    <div>Voluptas, sed ipsam blanditiis officiis fugit rerum repellat aliquid non sit   sunt soluta, id dolore cum odio atque libero doloremque! Pariatur non voluptatibus eligendi, impedit perspiciatis similique laboriosam! Id, facere.</div>
    <div>Quod commodi rem reiciendis consequuntur soluta corrupti facilis molestiae beatae expedita quis doloribus culpa officia incidunt nihil saepe laborum cupiditate voluptatum molestias, obcaecati! Natus, consectetur. Culpa dolorem saepe reprehenderit reiciendis.</div>
    <div>Ab ullam quam soluta, commodi amet vero, hic error debitis reprehenderit illo distinctio quaerat voluptatibus tenetur quia aliquam, pariatur quod. Iusto harum, repellendus cupiditate voluptate, quam nisi commodi aut voluptas.</div>
    <div>Deleniti quisquam quod accusamus debitis dolore nostrum harum, exercitationem numquam voluptas qui quos architecto in odit error aliquid ad, dolor natus nulla. Aliquam architecto dolorum ducimus laborum quasi hic accusamus.</div>
    <div>Molestias explicabo inventore placeat iure omnis magni minus ipsa sit, quia, neque sapiente distinctio ex ut atque. Minus deserunt iste quas animi tempora! Praesentium, ab! Cumque adipisci qui aliquam ea?</div>
    <div>Neque illum nesciunt, ullam inventore totam molestiae beatae nobis quae non ab quo perspiciatis recusandae molestias dolorum, officiis natus dicta aperiam adipisci consequatur fugiat eos. Reiciendis aperiam distinctio repellendus et.</div>
    <div>Voluptatum perspiciatis quos amet quaerat alias, accusantium obcaecati esse delectus consequuntur labore autem, et! Nihil earum perferendis sequi facilis temporibus ut laboriosam, vel at omnis nesciunt animi quasi voluptatibus. A.</div>
    <div>Ad quam nam itaque, fugiat ratione! Voluptate, qui animi. Est iusto quod consequuntur itaque, corporis suscipit. Doloremque amet, aliquid, ullam cum, illum consequatur aliquam laboriosam enim voluptate at veritatis similique.</div>
    <div>Nam vero in  <a href="#modal1" class="popover1" data-njb-header="header" data-njb-footer="footer">Open modal</a>eaque adipisci quam, ad ipsam error expedita excepturi commodi molestias  fugiat! Aperiam recusandae expedita culpa iusto asperiores debitis, beatae, ratione quaerat. Perferendis velit doloribus asperiores illum, vero.</div>
    
  </div>
  <div id="modal1" class="njb-hidden">
    <h1 id="test">modal title</h1>
    Hello Dmitry

    <button data-njb-close>Confirm</button>
  </div>
  <div id="modal2" class="njb-hidden">
    <input type="text" name="" title="second input" aria-label="aria input"><br>
   </div>
  <script src="njBox.js"></script>
  <script src="njBox-gallery.js"></script>
  <script src="njBox-popover.js"></script>
  <script>
    // window.gallery = new njBox('.gallery').on('inited', function(event, arg1, arg2) {
    //   // console.log(this);
    // }).on('hidden', function() {
    //   console.log(document.activeElement)
    // })
    // console.log(document.activeElement)
    var t = new njBox('.popover1', {
      placement: 'right',
      offset: '10 10',
      layout:"popover"
    })
  </script>
</body>

</html>