<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- <link rel="stylesheet" href="njBox.css"> -->
  <style>
    .block {
      margin-bottom: 20px;
    }
    .block p {
      margin: 0;
    }
    .njb__header {
      padding: 10px 0;
      background-color: #fff;
    }
  </style>
  <title>njBox</title>
</head>

<body>
  <div class="block">
    <p>
      Usual modal
    </p>
    <button data-toggle="modal" data-njb-content="http://lookw.ru/1/118/1380311798-357963.jpg" data-njb-type="image" data-njb-header="header" data-njb-img="load">Usual modal</button>
  </div>
  <div class="block">
    <p>
      Gallery
    </p>
    <div class="gallery" data-njb-gallery="a">
      <a href="http://lorempixel.com/400/200" data-njb-type="image">img1</a>
      <a href="http://lorempixel.com/500/400" data-njb-type="image">img2</a>
      <a href="http://lorempixel.com/1024/768" data-njb-type="image">img3</a>
      <a href="http://lorempixel.com/1280/1024" data-njb-type="image">img4</a>
      <a href="http://lorempixel.com/1900/1600" data-njb-type="image" data-njb-header="header">img5</a>
    </div>
  </div>
  <div class="block">
    <p>
      Popover
    </p>
  </div>


  <% if (htmlWebpackPlugin.options.devServer) { %>
  <script src="<%= htmlWebpackPlugin.options.devServer%>/webpack-dev-server.js"></script>
  <% } %>
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>
  <script src="njBox-gallery.js"></script> 
  <script src="njBox-popover.js"></script>

  <script>
    var t = new njBox('.gallery', {
      img: 'load'
    })._init();
    console.log(t);
  </script>
</body>

</html>