<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--<meta name="theme-color" content="#0094e2"> -->
  <meta name="description" content="">

  <link rel="stylesheet" href="njBox.css">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  
  <style>
    html {
      /*overflow-y: hidden;*/
    }
    .lorem {
      height: 2000px;
    }
    #modal, #modal2 {
      max-width: 500px;
      display: none;
    }
  </style>
  <title>njBox</title>
</head>

<body>
  <a href="#modal1" class="popover1" data-njb-header="header" data-njb-footer="footer" data-njb-layout="popover">Open modal</a>
  <!--<div class="gallery" data-njb-gallery="a" data-njb-autofocus="false" data-toggle="modal">
    <a href="#modal1">modal1</a>
    <a href="https://media4.s-nbcnews.com/j/newscms/2016_36/1685951/ss-160826-twip-05_8cf6d4cb83758449fd400c7c3d71aa1f.nbcnews-ux-2880-1000.jpg" class="link" data-njb-options='{"content": "test2"}' data-njb-title="title 2">link</a>
    <a href="#modal2">modal2</a>
    <a href="https://media4.s-nbcnews.com/j/newscms/2016_36/1685951/ss-160826-twip-05_8cf6d4cb83758449fd400c7c3d71aa1f.nbcnews-ux-2880-1000.jpg" data-njb-title="title 3">link</a>
    <a href="http://www.worldofowls.com/wp-content/uploads/2014/09/gallery-owls-1.jpg">link</a>
    <a href="https://s-media-cache-ak0.pinimg.com/736x/66/a5/eb/66a5ebd96a859c119ce18260dd7a8ba5.jpg">link</a>
    <a href="https://s-media-cache-ak0.pinimg.com/originals/49/04/b4/4904b4609076eed933073ad4254d15bc.jpg">link</a>
  </div>-->
  
  <div id="modal1" class="njb-hidden">
    <h1 id="test">modaltitlemodaltitlemodaltitlemodaltitlemodaltitlemodaltitlemodaltitle</h1>
    Hello Dmitry

    <button data-njb-close>Confirm</button>
  </div>
  <div id="modal2" class="njb-hidden">
    <input type="text" name="" title="second input" aria-label="aria input"><br>
   </div>
  <script src="njBox.js"></script>
  <!--<script src="njBox-gallery.js"></script>-->
  <script>
    // window.gallery = new njBox('.gallery').on('inited', function(event, arg1, arg2) {
    //   // console.log(this);
    // }).on('hidden', function() {
    //   console.log(document.activeElement)
    // })
    // console.log(document.activeElement)
    var t = new njBox('.popover1', {
      
    })
  </script>
</body>

</html>