<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--<meta name="theme-color" content="#0094e2"> -->
  <meta name="description" content="">

  <link rel="stylesheet" href="njBox.css">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  
  <style>
    .lorem {
      height: 2000px;
    }
    #modal, #modal2 {
      max-width: 500px;
      display: none;
    }
    .test4 {
      /*display: none;*/
    }
    .popover1 {
      color:red;
    }
    .test5 {
      width: 500px;

      /*height:500px;*/
      border: 1px solid #000;
    }
  </style>
  <title>njBox</title>
</head>

<body>
  <!-- <div class="gallery" data-njb-gallery="a" data-toggle="modal">
    <a href="#modal2" data-njb-header="lol">modal1</a>
    <a href="https://media4.s-nbcnews.com/j/newscms/2016_36/1685951/ss-160826-twip-05_8cf6d4cb83758449fd400c7c3d71aa1f.nbcnews-ux-2880-1000.jpg" data-njb-title="title 3">link</a>
    <a href="http://www.worldofowls.com/wp-content/uploads/2014/09/gallery-owls-1.jpg">link</a>
    <a href="https://s-media-cache-ak0.pinimg.com/736x/66/a5/eb/66a5ebd96a859c119ce18260dd7a8ba5.jpg" data-njb-header="header2">link</a>
    <a href="https://s-media-cache-ak0.pinimg.com/originals/49/04/b4/4904b4609076eed933073ad4254d15bc.jpg" data-njb-header="header 1">link</a>
  </div> -->
   <div style=" width:500px"> 
  <!-- <div> -->
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quas enim molestias vel blanditiis velit tempore repudiandae atque architecto unde quam ducimus veniam iusto nisi, commodi aspernatur sapiente voluptas. Quisquam.</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quas enim molestias vel blanditiis velit tempore repudiandae atque architecto unde quam ducimus veniam iusto nisi, commodi aspernatur sapiente voluptas. Quisquam.</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quas enim molestias vel blanditiis velit tempore repudiandae atque architecto unde quam ducimus veniam iusto nisi, commodi aspernatur sapiente voluptas. Quisquam.</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quas enim molestias vel blanditiis velit tempore repudiandae atque architecto unde quam ducimus veniam iusto nisi, commodi aspernatur sapiente voluptas. Quisquam.</div>
    <div>Hic commodi aperiam nemo accusamus perspiciatis quas quam laborum inventore magni consequatur. Rerum sapiente odio ex aliquam repellat dolor possimus, totam quibusdam non cumque deserunt, ducimus  ducimus deserunt, ducimus dducimus <a href="https://s-media-cache-ak0.pinimg.com/originals/49/04/b4/4904b4609076eed933073ad4254d15bc.jpg" class="el" data-njb-content="#modal1" data-njb-delayed="false" data-toggle="modal">click2click2clickclick2click2click22</a> iusto.</div>
  </div>
  
  
  <div id="modal1" class="njb-hidden">
    <h1 id="test">modal title</h1>
    Hello Dmitry
    <input type="text" data-njb-return>

    <!-- <button data-njb-close>Confirm</button> -->
    <button data-njb-ok>ok</button>
    <button data-njb-ok>cancel</button>
  </div>
  <div id="modal2" class="njb-hidden">
    <input type="text" name="" title="second input" aria-label="aria input"><br>
   </div>
    <!-- <script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>  -->
  <script src="njBox.js"></script>
  <!-- <script src="njBox-gallery.js"></script> -->
  <!-- <script src="njBox-popover.js"></script>   -->
  <script>
    // t = new njBox({content: 'test'})
    // .on('cb', function(event, arg1, arg2) {
    //   console.log(event,arg1,arg2);
    // }).on('inited', function() {
    //   console.log(this);
    // })


    
  </script>
</body>

</html>