<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--<meta name="theme-color" content="#0094e2"> -->
  <meta name="description" content="">

  <link rel="stylesheet" href="njBox.css">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  
  <style>
    .lorem {
      height: 2000px;
    }
    #modal, #modal2 {
      max-width: 500px;
      display: none;
    }
  </style>
  <title>njBox</title>
</head>

<body>
  <a href="#modal1" class="popover1" data-njb-header="header" data-njb-footer="footer">Open modal</a>
  <div class="gallery" data-njb-gallery="a" data-njb-autofocus="false" data-toggle="modal" data-njb-layout="popover">
    <a href="#modal2">modal1</a>
    <a href="https://media4.s-nbcnews.com/j/newscms/2016_36/1685951/ss-160826-twip-05_8cf6d4cb83758449fd400c7c3d71aa1f.nbcnews-ux-2880-1000.jpg" class="link" data-njb-options='{"content": "test2"}' data-njb-title="title 2">link</a>
    <a href="#modal2">modal2</a>
    <a href="https://media4.s-nbcnews.com/j/newscms/2016_36/1685951/ss-160826-twip-05_8cf6d4cb83758449fd400c7c3d71aa1f.nbcnews-ux-2880-1000.jpg" data-njb-title="title 3">link</a>
    <a href="http://www.worldofowls.com/wp-content/uploads/2014/09/gallery-owls-1.jpg">link</a>
    <a href="https://s-media-cache-ak0.pinimg.com/736x/66/a5/eb/66a5ebd96a859c119ce18260dd7a8ba5.jpg">link</a>
    <a href="https://s-media-cache-ak0.pinimg.com/originals/49/04/b4/4904b4609076eed933073ad4254d15bc.jpg">link</a>
  </div>
  <div class="test4">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor veniam rem tempore iure totam voluptate alias autem sapiente quod non earum eos sed natus maiores nulla laboriosam, consequuntur inventore perferendis.</div>
    <div>Et quae harum voluptatum sit recusandae ut dolorum dolorem sint, distinctio eum mollitia corporis aut. Odit voluptatum quis, deserunt soluta, commodi unde corporis dolores voluptate ducimus. Modi, iusto harum corporis.</div>
    <div>Eaque veritatis fugiat quasi rerum laborum atque dolores repellat, nostrum nihil architecto doloremque recusandae quis, earum, qui culpa hic! Tempore doloremque quia consequuntur sunt voluptatem illum enim nobis pariatur animi.</div>
    <div>Odit quaerat optio libero ipsum ea alias quas suscipit asperiores minima vero corporis numquam iste, magnam maxime officia praesentium consequuntur iusto. Dicta eum fuga officia quasi eligendi, iusto, adipisci ad.</div>
    <div>Vel dolore, tenetur at sapiente. Illum accusamus odio maiores optio quae obcaecati ipsum doloribus voluptatibus repellat id voluptates alias quasi unde, velit ex aut neque. Ducimus dicta, earum voluptate sint.</div>
    <div>Ipsam quo aspernatur magni, deleniti odio incidunt, aliquam mollitia ducimus nisi, ex eveniet possimus cupiditate eum quaerat nemo dolorem. Ipsam sit error perferendis, velit iusto id reprehenderit temporibus aspernatur quibusdam?</div>
    <div>Voluptas, sed ipsam blanditiis officiis fugit rerum repellat aliquid non sit sunt soluta, id dolore cum odio atque libero doloremque! Pariatur non voluptatibus eligendi, impedit perspiciatis similique laboriosam! Id, facere.</div>
    <div>Quod commodi rem reiciendis consequuntur soluta corrupti facilis molestiae beatae expedita quis doloribus culpa officia incidunt nihil saepe laborum cupiditate voluptatum molestias, obcaecati! Natus, consectetur. Culpa dolorem saepe reprehenderit reiciendis.</div>
    <div>Ab ullam quam soluta, commodi amet vero, hic error debitis reprehenderit illo distinctio quaerat voluptatibus tenetur quia aliquam, pariatur quod. Iusto harum, repellendus cupiditate voluptate, quam nisi commodi aut voluptas.</div>
    <div>Deleniti quisquam quod accusamus debitis dolore nostrum harum, exercitationem numquam voluptas qui quos architecto in odit error aliquid ad, dolor natus nulla. Aliquam architecto dolorum ducimus laborum quasi hic accusamus.</div>
    <div>Molestias explicabo inventore placeat iure omnis magni minus ipsa sit, quia, neque sapiente distinctio ex ut atque. Minus deserunt iste quas animi tempora! Praesentium, ab! Cumque adipisci qui aliquam ea?</div>
    <div>Neque illum nesciunt, ullam inventore totam molestiae beatae nobis quae non ab quo perspiciatis recusandae molestias dolorum, officiis natus dicta aperiam adipisci consequatur fugiat eos. Reiciendis aperiam distinctio repellendus et.</div>
    <div>Voluptatum perspiciatis quos amet quaerat alias, accusantium obcaecati esse delectus consequuntur labore autem, et! Nihil earum perferendis sequi facilis temporibus ut laboriosam, vel at omnis nesciunt animi quasi voluptatibus. A.</div>
    <div>Ad quam nam itaque, fugiat ratione! Voluptate, qui animi. Est iusto quod consequuntur itaque, corporis suscipit. Doloremque amet, aliquid, ullam cum, illum consequatur aliquam laboriosam enim voluptate at veritatis similique.</div>
    <div>Nam vero in eaque adipisci quam, ad ipsam error expedita excepturi commodi molestias fugiat! Aperiam recusandae expedita culpa iusto asperiores debitis, beatae, ratione quaerat. Perferendis velit doloribus asperiores illum, vero.</div>
    <div>Debitis placeat temporibus qui amet voluptas assumenda est eligendi, laboriosam at repellat impedit, excepturi corporis. Sit libero illum atque sint, nihil temporibus iste debitis, laboriosam accusamus deleniti recusandae repellat cumque?</div>
    <div>Numquam dolorum, exercitationem maxime cupiditate possimus dolores sint ipsam repellendus odio vitae quos reprehenderit eveniet magni asperiores commodi architecto est blanditiis perferendis adipisci necessitatibus odit voluptatum repellat suscipit quasi veritatis?</div>
    <div>Dolorum nostrum doloremque sed natus, voluptas laudantium enim in eius tempore, illo alias dicta reiciendis nisi molestiae ratione accusamus ab. Cumque natus quis labore libero, quas. Accusantium ullam, assumenda alias.</div>
    <div>Doloribus labore nobis molestias quod porro vero vitae, illum molestiae rerum. Repellendus eius nisi ipsam quisquam repellat eum laudantium commodi vel impedit. Non voluptatibus in velit expedita, nesciunt explicabo delectus.</div>
    <div>Voluptatem perferendis at et veritatis molestias facere tempora aliquid ipsam repellendus unde asperiores odit commodi voluptates nostrum, deserunt voluptas nulla, recusandae reprehenderit magni consequatur porro. Odio explicabo eligendi, laborum ipsam.</div>
    <div>Quod delectus quae eius repellendus sapiente, similique, ducimus quasi reiciendis in harum earum quaerat maiores magni autem itaque corporis aspernatur dolorem alias perferendis dignissimos provident. Exercitationem a, enim sint quas.</div>
    <div>Cum odit ad aliquam minima necessitatibus! Et itaque saepe enim dolorem, nostrum expedita, quaerat eius officiis. Ex, rem qui dolore optio exercitationem a! Quibusdam aut maiores iure placeat porro corporis.</div>
    <div>Sequi, beatae aperiam ex fugiat nobis sed, ea? Et id facilis velit quas officia quis nobis atque placeat amet, ipsa voluptatibus hic saepe quae, sequi, cumque aliquid. Distinctio, nulla, explicabo.</div>
    <div>Repudiandae eaque deleniti pariatur quam ea at, impedit ipsum nemo, ullam nobis odio saepe soluta asperiores aspernatur maiores? Dolorum magni tenetur reprehenderit, fuga delectus obcaecati. Cum quisquam quo assumenda officiis.</div>
    <div>Amet aperiam accusamus, iste animi modi officiis debitis sint dolore odit nobis hic dolorem ratione cupiditate minus repellat ipsam, itaque, repellendus quis. Qui perferendis commodi cum modi quo at, eligendi.</div>
    <div>Quibusdam ullam laudantium similique consectetur ipsum voluptatibus expedita, aperiam harum eaque itaque qui asperiores magnam, beatae mollitia voluptate eveniet sit labore culpa vel? Fuga velit minima, ipsa quibusdam blanditiis voluptatibus.</div>
    <div>Placeat tempore quod laboriosam saepe, error atque sit assumenda consectetur nobis illo! Dignissimos quae, labore quisquam ad odit sint praesentium eaque cum aliquid quos. Quis dolore dicta culpa doloremque earum!</div>
    <div>Vel dicta incidunt doloremque facilis! Porro voluptates, minima vero consequatur natus, animi similique adipisci eligendi nostrum possimus optio aperiam quae! Cumque ea autem atque ut aliquam dignissimos, illum! Veniam, dignissimos!</div>
    <div>Nostrum cumque enim, inventore ut eaque possimus, maxime ipsum est totam! Voluptates non temporibus totam nam dolorem ullam, rem. Ducimus quae aliquid iusto soluta voluptatum quisquam debitis ipsam est nihil.</div>
    <div>Beatae odit magni ipsa nemo itaque ducimus ratione, quaerat repellat! Optio expedita aliquid odio possimus iure culpa quia ea ad reprehenderit, minus sed minima voluptatem illo quaerat saepe amet nulla.</div>
    <div>Ad eligendi quasi temporibus laudantium, inventore. Aliquam architecto, obcaecati. Dolor sapiente, eaque, cupiditate tempore voluptatibus quam, voluptates numquam repudiandae, quisquam beatae alias! Repudiandae harum ex magni id a iusto eos!</div>
    <div>Quam maxime aliquam, sunt consequatur nobis id, nostrum minus laboriosam accusamus sint quod cupiditate. Ipsum accusantium molestias non, maxime iusto eveniet repellat aliquam ipsam animi ea aut nihil porro sint!</div>
    <div>Quasi excepturi possimus accusantium, voluptatum fugit illo a quae laborum debitis, magnam dolorum quas. Quam sapiente, unde veniam quibusdam veritatis facilis totam quia similique alias. Aliquid accusamus tempora sit facere.</div>
    <div>Quibusdam modi ex, harum facilis hic quasi totam ut. Eos delectus, recusandae iste, hic eligendi non alias commodi nostrum magnam, temporibus mollitia itaque incidunt animi! Culpa rerum, nesciunt nam sapiente!</div>
    <div>Assumenda eligendi incidunt dignissimos vel magni ratione blanditiis ullam distinctio repellendus. Eveniet neque architecto numquam quam veritatis soluta, repellat sunt maxime, libero. Qui harum quod tempore atque voluptates, iure odio!</div>
    <div>Aliquid voluptatum a voluptates, harum, libero repudiandae perspiciatis officiis consequatur nulla iusto est deleniti. Odit tenetur aspernatur accusamus iusto doloribus, laudantium eos, dolore, molestias odio vero delectus? Natus, tenetur consectetur.</div>
    <div>Repellendus recusandae eveniet porro, in exercitationem fugit similique perferendis qui. Veniam earum sunt deserunt numquam aspernatur, quas est tempora perspiciatis minima, corporis deleniti dignissimos, velit, quod eligendi nemo veritatis ex.</div>
    <div>Laborum modi tenetur hic est ducimus saepe autem illo possimus, commodi obcaecati quaerat et, iste rem in magnam, aliquam eos aperiam reprehenderit! Commodi voluptates et voluptatem, id reiciendis ullam cum!</div>
    <div>Dolor sed illo tempore optio tempora magni, animi dolores nihil totam voluptatem dignissimos praesentium, temporibus consequatur minus quas. Veritatis fugit iure nesciunt pariatur dolores reiciendis, accusantium explicabo possimus sed laudantium.</div>
    <div>Maxime, enim numquam illum! Aspernatur possimus non sequi quaerat quo, itaque, alias ullam officia quos amet a nemo! In facere enim ipsam incidunt quo esse, molestias ipsum. Aut, nisi, quo.</div>
    <div>Nam autem ea illo hic saepe, cumque, unde veniam voluptatum consequatur reiciendis, eius voluptates, labore similique aperiam. Laudantium aliquam non recusandae, accusamus nostrum vel odio officiis ipsa earum vitae facilis.</div>
    <div>Recusandae praesentium, accusantium numquam iure tenetur eaque explicabo amet, aspernatur architecto nulla aut repellendus maxime natus harum sint delectus. Tempora libero magni dolorum aut suscipit sunt veniam odit adipisci asperiores?</div>
    <div>Quia nobis tempora et illo quod, unde, adipisci perferendis non. Doloremque tempora quia, aliquam placeat iste excepturi, explicabo minima aperiam deserunt consequatur tenetur esse vel laboriosam dolorem facilis veritatis vero.</div>
    <div>Sunt praesentium alias neque optio, minus ab deleniti, enim blanditiis odit dolorum ad iusto cupiditate debitis et est ipsa quidem quasi! Odit, placeat. Molestiae cum consectetur, ab similique facilis aliquam.</div>
    <div>Vero dolor debitis minima alias magnam ducimus similique iusto velit doloremque, quod quibusdam vitae expedita harum, animi earum! Suscipit voluptate sint ex aperiam voluptatibus laudantium quis repudiandae, soluta reiciendis quam.</div>
    <div>Ad tenetur odit laudantium quae rem sequi ipsam error quibusdam, dolorum voluptatem quia dolorem molestias expedita quidem architecto quas pariatur sapiente iure debitis commodi, magnam sit atque. Optio, animi, sint?</div>
    <div>Animi quis rerum magni nulla consequuntur, eos corrupti commodi rem totam ratione doloribus dolore unde, harum accusamus amet cupiditate culpa laboriosam delectus blanditiis enim tenetur. Omnis rerum tempora, explicabo voluptatem.</div>
    <div>Quis dicta similique maxime commodi vero iure! In ab laboriosam repudiandae placeat ipsa, illum adipisci totam repellat. Veritatis reiciendis, laboriosam enim placeat distinctio quos dicta, alias temporibus iure numquam voluptate.</div>
    <div>Eligendi reiciendis sequi quos excepturi necessitatibus modi laudantium, optio, aliquid temporibus, ipsum aspernatur! Porro in magni, enim eaque quis similique itaque est beatae cupiditate? Nobis ratione perspiciatis dicta totam fuga.</div>
    <div>Quidem, reiciendis, vitae! Repellat molestiae consectetur tempore nobis, quia possimus rem quidem temporibus facere! Qui facere dolores voluptatum dicta, quasi! Tempore porro commodi ipsum ducimus, labore provident, fuga sapiente inventore.</div>
  </div>
  
  <div id="modal1" class="njb-hidden">
    <h1 id="test">modal title</h1>
    Hello Dmitry

    <button data-njb-close>Confirm</button>
  </div>
  <div id="modal2" class="njb-hidden">
    <input type="text" name="" title="second input" aria-label="aria input"><br>
   </div>
  <script src="njBox.js"></script>
  <script src="njBox-gallery.js"></script>
  <script>
    // window.gallery = new njBox('.gallery').on('inited', function(event, arg1, arg2) {
    //   // console.log(this);
    // }).on('hidden', function() {
    //   console.log(document.activeElement)
    // })
    // console.log(document.activeElement)
    var t = new njBox('.popover1', {
      layout:"popover",
      oninited: function() {
        // console.log(this)
      }
    })
  </script>
</body>

</html>