<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--<meta name="theme-color" content="#0094e2"> -->
  <meta name="description" content="">

  <link rel="stylesheet" href="njBox.css">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  
  <style>
    html {
      overflow-y: hidden;
    }
    .lorem {
      height: 2000px;
    }
    #modal, #modal2 {
      max-width: 500px;
      display: none;
    }
  </style>
  <title>njBox</title>
</head>

<body>
  <div class="gallery" data-njb-gallery="a">
    <a href="https://upload.wikimedia.org/wikipedia/commons/0/0f/Grosser_Panda.JPG" class="link">link</a>
    <a href="https://media4.s-nbcnews.com/j/newscms/2016_36/1685951/ss-160826-twip-05_8cf6d4cb83758449fd400c7c3d71aa1f.nbcnews-ux-2880-1000.jpg" class="link">link</a>
  </div>
  <button class="add">add</button>
  <!--<a href="#modal" class="link"data-njb-autofocus=".test3">link</a>-->
  <div id="modal">
    <input type="text" data-njb-return><br>
    <input type="text" class="test3"><br>
    <button data-njb-close>ok</button>
    
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, quasi, tempora quo mollitia accusantium nisi consequatur dolores unde consequuntur facere omnis adipisci harum accusamus. Temporibus quo illum ullam molestias perspiciatis?</div>
    <div>Laudantium unde voluptatum fugit amet itaque asperiores ipsum et animi debitis, minus officiis ab incidunt consectetur sapiente sint corporis, perspiciatis tempore? Obcaecati adipisci voluptates sunt illum reiciendis id, voluptatibus praesentium.</div>
    <div>Dolores eum, beatae vitae necessitatibus atque sapiente porro repudiandae voluptate quaerat ad molestiae tempora, saepe numquam. Blanditiis hic, tenetur similique quisquam eum, non soluta laudantium perferendis aliquam saepe accusantium reprehenderit.</div>
    <div>Sint consectetur libero, praesentium, recusandae consequuntur omnis sit. Ab veniam quia ut, eum sit quis provident facere numquam quod suscipit, asperiores dolorem commodi id a corrupti cumque officiis, maxime vitae.</div>
    <div>Voluptas suscipit sapiente, voluptatibus temporibus veritatis ut quo quasi recusandae nam. Quos deserunt et dignissimos doloribus ullam molestias saepe, cumque exercitationem magnam, id, nulla esse repellat est perferendis debitis corporis.</div>
    <div>Totam, nulla. Cum asperiores laborum libero quas. Ipsam minima vitae harum ea dolor, quidem dolore molestiae repellendus. Suscipit vero libero ullam corporis, id, eligendi consequatur aperiam. Assumenda, est, aspernatur. Rem?</div>
  </div>
  <script src="njBox.js"></script>
  <script>
    
    var gallery = new njBox('.gallery', {
      onshown() {
        // console.log(this.state.itemsOrder);
      }
    })
  </script>
</body>

</html>