<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- <link rel="stylesheet" href="njBox.css"> -->
  <title>njBox</title>
</head>

<body>
  Usual modal
  <button data-toggle="modal" data-njb-content="content">Usual modal</button>
  Gallery
  <div class="gallery" data-njb-gallery="a" data-toggle="modal">
    <a href="http://lorempixel.com/400/200" data-njb-type="image">img1</a>
    <a href="http://lorempixel.com/500/400" data-njb-type="image">img2</a>
    <a href="http://lorempixel.com/1024/768" data-njb-type="image">img3</a>
    <a href="http://lorempixel.com/1280/1024" data-njb-type="image">img4</a>
    <a href="http://lorempixel.com/1900/1600" data-njb-type="image">img5</a>
  </div>
  Popover


  <% if (htmlWebpackPlugin.options.devServer) { %>
  <script src="<%= htmlWebpackPlugin.options.devServer%>/webpack-dev-server.js"></script>
  <% } %>
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>
  <script src="njBox-gallery.js"></script> 
  <script src="njBox-popover.js"></script>

  <script>
    
  </script>
</body>

</html>